@using System.Security.Claims;

@if (!User.Identities.Any(u => u.IsAuthenticated))
{
    <h1>Hello there unauthenticated user!</h1>
}
else
{
    <h1>
        Hello @User.Identities.First(u => u.IsAuthenticated && u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value
    </h1>
    <h2>Claims:</h2>
    <ul>
        @foreach (var claim in User.Claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}